// --------------------------------------------------------------------------

@import 'compass/css3';

//--------------------------------------------------------------------------

$navbar-height:  40px;
$navbar-padding: 5px;
$navbar-bg:      rgb(50,60,70);

$accent-color: #1f8dd6;

/***************************************************************************
	navbar:
***************************************************************************/

.devhook-navbar {
	position:      fixed;
	z-index:       2000;
	background:    $navbar-bg;
	border-bottom: 3px solid darken($navbar-bg, 10%);
	height:        $navbar-height;
	width:         100%;
	top:           0;
	text-shadow:   0 1px 1px rgba(0,0,0,.33);


	@include box-sizing(border-box);
	@include background(linear-gradient(top, darken($navbar-bg, 10%), $navbar-bg));
	@include box-shadow(0 1px 1px rgba(0,0,0,.2) inset);

	> * {
		font-family:   "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size:     14px;
		line-height:   1.428571429;
	}
	a {
		text-decoration: none;
	}
	ul, li {
		margin:     0;
		padding:    0;
		list-style: none;
	}
	> ul {
		float:       left;
		// padding:     0 $navbar-padding;
		border-left: 1px solid darken($navbar-bg, 10%);

		// @include box-shadow(0 0 3px rgba(#FFF, .2) inset);

		&:first-child {
			border-left: none;
		}

		&.dh-tray {
			float:right;
		}

		> li {
			display: block;
			float: left;


			> *:first-child {
				color:       #EEE;
				// background:  rgba(0,0,0,.15);
				// border:      1px solid mix($navbar-bg, #FFF, 90%);
				display:     block;
				padding:     0 15px;
				height:      $navbar-height;
				line-height: $navbar-height;

				// @include background(darken($navbar-bg, 15%));
				// @include box-shadow(0 1px 2px rgba(0,0,0,.2) inset, 0 1px 0 rgba(255,255,255,.1));
				// @include border-radius(4px);
			}

			&.active > *:first-child {
				color: #FFF;
				background-color: $accent-color;
				// background-image: linear-gradient(top, rgba(#FFF, .5), rgba(#FFF, 0));
				// text-shadow: 0 0 5px rgba(255,255,255,.7);
				//

				text-shadow:      0 1px 1px rgba(#000,.1);
				// border-bottom:    3px solid darken($accent-color, 10%);

				background-image: linear-gradient(bottom, rgba($accent-color, .25), rgba($accent-color, 0) 50%);
			}
			&:hover > *:first-child,
			> *:first-child:hover {
				// background:      rgba(#000, .1);
				color:           #FFF;
				text-decoration: none;
				border-bottom:   $accent-color;
			}

			// LEVEL 2
			> ul {
				display:    none;
				position:   absolute;
				min-width:  150px;
				overflow:   hidden;
				// margin:     1px 0 0 0;

				// padding-bottom: 5px;
				// background:     $accent-color;

				@include border-radius(0 0 5px 5px);
				@include box-shadow(0 3px 21px rgba(0,0,0,.5), 0 0 0 1px rgba(#000,.1));


				> li {
					display: block;

					> a {
						font-size:     14px;
						color:         #333;
						background:    #FFF;
						display:       block;
						padding:       7px 15px;
						margin-bottom: -1px;

						// @include box-shadow(0 -1px 0 rgba(0,0,0,.3) inset);

						&:hover {
							text-decoration: none;
							color:           #333;
							background-image: linear-gradient(top, #EEE, #DDD);
						}
					}

					&.active > a {
						border-left: 3px solid $accent-color;
						color:       #666;
					}
				}
			}
		}
	}
}

.dropdown {
	position: relative;

	&:hover ul {
		display: block;
	}
}

//--------------------------------------------------------------------------