/***************************************************************************
	navbar:
***************************************************************************/
/* line 17, ../sass/admin.scss */
.devhook-navbar { position: fixed; z-index: 2000; background: #555555; border-bottom: 1px solid #222222; height: 36px; width: 100%; top: 0; background: -webkit-linear-gradient(top, #555555, #3b3b3b); background: -moz-linear-gradient(top, #555555, #3b3b3b); background: -o-linear-gradient(top, #555555, #3b3b3b); background: linear-gradient(to bottom, #555555, #3b3b3b); -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 4px rgba(0, 0, 0, 0.3) inset; -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 4px rgba(0, 0, 0, 0.3) inset; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 4px rgba(0, 0, 0, 0.3) inset; }
/* line 29, ../sass/admin.scss */
.devhook-navbar > * { font: 13px/20px Arial; }
/* line 33, ../sass/admin.scss */
.devhook-navbar ul, .devhook-navbar li { margin: 0; padding: 0; list-style: none; }
/* line 38, ../sass/admin.scss */
.devhook-navbar > ul { float: left; border-left: 5px solid rgba(0, 0, 0, 0.3); }
/* line 45, ../sass/admin.scss */
.devhook-navbar > ul:first-child { border-left: none; }
/* line 49, ../sass/admin.scss */
.devhook-navbar > ul.dh-tray { float: right; }
/* line 53, ../sass/admin.scss */
.devhook-navbar > ul > li { display: block; float: left; }
/* line 58, ../sass/admin.scss */
.devhook-navbar > ul > li > *:first-child { color: #AAA; display: block; padding: 0 15px; height: 36px; line-height: 36px; }
/* line 72, ../sass/admin.scss */
.devhook-navbar > ul > li.active > *:first-child { color: #EEE; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); border-bottom: 3px solid #0099cc; background-color: rgba(0, 0, 0, 0.2); background-image: linear-gradient(to top, rgba(0, 153, 204, 0.25), rgba(0, 153, 204, 0) 50%); }
/* line 84, ../sass/admin.scss */
.devhook-navbar > ul > li:hover > *:first-child, .devhook-navbar > ul > li > *:first-child:hover { background: rgba(0, 0, 0, 0.1); color: #FFF; text-decoration: none; border-bottom: 3px solid #FFF; }
/* line 92, ../sass/admin.scss */
.devhook-navbar > ul > li > ul { display: none; position: absolute; min-width: 150px; overflow: hidden; -webkit-border-radius: 0; -moz-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; -webkit-box-shadow: 0 3px 21px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 3px 21px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(0, 0, 0, 0.1); box-shadow: 0 3px 21px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(0, 0, 0, 0.1); }
/* line 106, ../sass/admin.scss */
.devhook-navbar > ul > li > ul > li { display: block; }
/* line 109, ../sass/admin.scss */
.devhook-navbar > ul > li > ul > li > a { font-size: 14px; color: #333; background: #FFF; display: block; padding: 7px 15px; margin-bottom: -1px; }
/* line 119, ../sass/admin.scss */
.devhook-navbar > ul > li > ul > li > a:hover { text-decoration: none; color: #333; background-image: linear-gradient(to bottom, #eeeeee, #dddddd); }
/* line 126, ../sass/admin.scss */
.devhook-navbar > ul > li > ul > li.active > a { border-left: 3px solid #0099cc; color: #666; }
/* line 134, ../sass/admin.scss */
.devhook-navbar > ul.dh-modes { margin: 5px; overflow: hidden; boreder: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
/* line 142, ../sass/admin.scss */
.devhook-navbar > ul.dh-modes > li > a { padding: 0 10px; height: 26px; line-height: 26px; background: rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset; -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset; }
/* line 149, ../sass/admin.scss */
.devhook-navbar > ul.dh-modes > li.active > a { background: #0099cc; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

/* line 160, ../sass/admin.scss */
.dropdown { position: relative; }
/* line 163, ../sass/admin.scss */
.dropdown:hover ul { display: block; }
